.head {
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    margin-top: 70px;
  }
  .c{
   display:flex;
    border:2px solid gray;
    margin-left: 390px;
    margin-right: 390px;
  }
  #x{
    padding-right: 100px;
  }
 
  
  