<!-- <div class="a">
    <label>num1</label>
    <input type="number" id="num1" [(ngModel)]="num1"/><br><br>
    <div class="c">
    <label id="c">result</label>&nbsp;
    <mark>{{result}}</mark>
    </div>
    
    <div class="b">
    <button type="submit" (click)="convert()"> covert</button>
    </div>
</div> -->


<mat-form-field class="b" appearance="fill">
    <mat-label>Select Gender</mat-label>
    <mat-select>
    <mat-option value="Male">Male</mat-option>
    <mat-option value="Female">Female</mat-option>
    </mat-select>
    <mat-error>gender is required</mat-error>
  </mat-form-field>

  <mat-card class="example-card">
    <mat-card-title>hello world1</mat-card-title>
</mat-card>
<mat-card class="example-card">
    <mat-card-title>hello world2</mat-card-title>
</mat-card>
<mat-card class="example-card">
    <mat-card-title>hello world3</mat-card-title>
</mat-card>

<P>HELLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL</P>
<div>
<P>RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR</P>
</div>
