<p>
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Example icon-button with menu icon" routerLink="">
        <mat-icon>menu</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/login">
        Login Employee
      </button>
//testing
      <button mat-icon-button class="example-icon favorite-icon" routerLink="/register">
        Signup Employee
      </button>
      
      <button mat-icon-button class="example-icon favorite-icon">
      Update employee
      </button>
   
      <button mat-icon-button class="example-icon" routerLink="/emplist">
       Employee List
      </button>

      <button mat-icon-button class="example-icon" routerLink="/cards">
        Employee Cards
       </button>

    </mat-toolbar>
  </p>

   <router-outlet></router-outlet>
